{% extends "base.html" %}
{% block title %}
版权声明
{% endblock %}
{% block about %}
<a href="#" class="nav-top-item current">
    关于
</a>
<ul>
    <li><a href="{{app}}about/author">关于作者</a></li>
    <li><a class="current" href="{{app}}about/copyright">版权声明</a></li>
</ul>
{% endblock %}
{% block content %}
<div id="main-content">
<div class="content-head"><h2>版权声明</h2></div>
<div class="clear"></div>
    <div class="about-copyright">
        远航是本系统的所有人,该程序源码遵守MIT协议.
    </div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</div> 
{% endblock %}
