{% extends "base.html" %}
{% block title %}
进行互评
{% endblock %}
{% block assessments %}
<a href="#" class="nav-top-item current">
    互评
</a>
<ul>
    {% if user.role == "student" %}
    <li><a class="current" href="{{app}}edit">进行互评</a></li>
    {% endif %}
    {% if user.role != "student" %}
    <li><a href="{{app}}lookup">查看互评</a></li>
    {% endif %}
</ul>
{% endblock %}
{% block content %}
<div id="main-content"> 
<div class="content-head"><h2>进行互评</h2></div>
<div class="clear"></div>
<div class="content-box">
    <div class="content-box-header">
        <h3>互评名单</h3>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div>
            <form  method="post">
            <table>
                <thead>
                    <tr>
                       <th>姓名</th>
                       <th>学号</th>
                       <th>性别</th>
                       {% for option in options %}
                            <th>{{option.option|e}}</th>
                       {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in pro_others.object_list %}
                    <tr class="{{loop.cycle('alt-row','')}}">
                        <td>{{student.name}}</td>
                        <td>{{student.schoolid}}</td>
                        <td>{{student.sex}}</td>
                        {% for option in options %}
                        <td><a href="{{app}}edit?schoolid={{student.schoolid}}&option={{option.option|e}}" title="{{option.option}}">
                        {% if student.option == option.option %}
                            <img src="./static/images/tick_circle.png" alt="否"></a></td>
                        {% else %}
                            <img src="./static/images/cross_circle.png" alt="否"></a></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>
            <div class="paginator">
                <ul>
                    {% if show_firstpage %}
                        <a href="{{app}}edit/1">首页</a>
                    {% endif %}
                    {% if pro_others.has_previous %}
                        <li> <a href="{{app}}edit/{{ pro_others.previous_page_number }}">上一页</a></li>
                    {% endif %}
                    {% for one in page_range %}
                        {% if one == pro_others.number %}
                            <li class="paginator-current">{{ pro_others.number }}</li>
                        {% else %}
                            <li><a href="{{app}}edit/{{ one }}">{{one}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pro_others.has_next %}
                        <li><a href="{{app}}edit/{{ pro_others.next_page_number }}">下一页</a></li>
                    {% endif %}
                    {% if show_lastpage %}
                        <a href="{{app}}edit/{{num_pages}}">尾页</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</div> 
{% endblock %}
