{% extends "base.html" %}
{% block title %}
用户管理
{% endblock %}
{% block system %}
<a href="{{app}}manage" class="nav-top-item current">
    系统设置
</a>
<ul>
    <li><a class="current" href="{{app}}manage/users">用户管理</a></li>
    <li><a href="{{app}}manage/options">互评选项管理</a></li>
</ul>
{% endblock %}
{% block content %}
<div id="main-content">
<div class="content-head"><h2>用户管理</h2></div>
<div class="clear"></div>
<div class="content-box">
    <div class="content-box-header">
        <h3>互评信息</h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab">查看用户信息</a></li>
            <li><a href="#tab2">增加/修改用户信息</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <form action="{{app}}manage/users" method="post">
            <table>
                <thead>
                    <tr>
                       <th><input name="all-select" type="checkbox"></th>
                       <th>姓名</th>
                       <th>职位</th>
                       <th>学号</th>
                       <th>性别</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users.object_list %}
                    <tr class="{{loop.cycle('alt-row','')}}">
                        <td><input type="checkbox" name="{{user._id}}" id="{{user._id}}" value=""></td>
                        <td class="edit">{{user.name}}</td>
                        {% if user.role == "superadmin"%}
                            <td>管理员</td>
                        {% elif user.role == "statistician" %}
                            <td>记录员</td>
                        {% else %}
                            <td>学生</td>
                        {% endif %}
                        <td>{{user.schoolid}}</td>
                        <td>{{user.sex}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <input type="submit" class="submit" name="delete" id="delete" value="删除">
                        </td>
                    </tr>
                </tfoot>
            </table>
            </form>
            <div class="paginator">
                <ul>
                    {% if show_firstpage %}
                        <a href="{{app}}manage/users/1">首页</a>
                    {% endif %}
                    {% if users.has_previous %}
                        <li> <a href="{{app}}manage/users/{{ users.previous_page_number }}">上一页</a></li>
                    {% endif %}
                    {% for one in page_range %}
                        {% if one == users.number %}
                            <li class="paginator-current">{{ users.number }}</li>
                        {% else %}
                            <li><a href="{{app}}manage/users/{{ one }}">{{one}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                        <li><a href="{{app}}manage/users/{{ users.next_page_number }}">下一页</a></li>
                    {% endif %}
                    {% if show_lastpage %}
                        <a href="{{app}}manage/users/{{num_pages}}">尾页</a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="tab-content" id="tab2">
            <div class="show-options"><h3>
                互评选项：
            </h3></div>
            <form action="{{app}}manage/users" method="post">
                <input type="hidden" value="" name="userid" id="userid"/>
                <div class="options">
                    <input type="checkbox" name="superadmin" value="" />管理员
                    <input type="checkbox" name="statistician" value="" />统计员
                    <input type="checkbox" name="student" value="" />学生
                </div>
                
                <div class="user admin">
                <li>用户名</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="" name="admin-name" />
                    {% if error_admin_name %}
                    <div class="error">{{error_admin_name}}</div>
                    {% endif %}
                </li>
                <li>密码</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="000000" name="raw_passwd" readonly="readonly"/>
                </li>
                </div>
                
                <div class="user statistician">
                <li>用户名</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="" name="statistician-name" />
                    {% if error_statistician_name %}
                    <div class="error">{{error_statistician_name}}</div>
                    {% endif %}
                </li>
                <li>密码</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="000000" name="raw_passwd" readonly="readonly"/>
                </li>
                </div>
                
                <div class="user student">
                <li>学号</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="" name="schoolid" />
                    {% if error_school_id %}
                    <div class="error">{{error_school_id}}</div>
                    {% endif %}
                </li>
                <li>姓名</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="" name="student-name" />
                    {% if error_student_name %}
                    <div class="error">{{error_student_name}}</div>
                    {% endif %}
                </li>
                <li>性别</li>
                <li>
                    <div class="sex">
                        <select name="sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </li>
                <li>密码</li>
                <li><input type="text" maxlength="200" class="manage-user-input" value="000000" name="raw_passwd" readonly="readonly"/>
                </li>
                </div>
                <input type="submit" class="submit user-submit" name="update" id="update" value="提交">
            </form>
        </div>
    </div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</div> 
{% endblock %}
